---
import type { ACTION_ERROR_CODES } from 'astro:actions';
import Frame from "../../../components/Frame.astro";
import { render,getCollection } from 'astro:content';

export async function getStaticPaths() {
	const abouts=await getCollection('about');
	return abouts.map((post) => ({
		params: { lng:'index'===post.id?'zh':post.id.replace('index','')},
		props: post,
	}));
}
const {lng}=await Astro.params;
const post = await Astro.props;
const { Content } = await render(post);
---
<Frame lng={lng} title={post.data.title} description={post.data.description}>
	<div class="min-w-[816px] mx-auto">
		<Content />
	</div>
</Frame>
