---
import BaseHead from './BaseHead.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';

const {lng,title,description}=Astro.props
---
<!doctype html>
<html lang={lng}>
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="bg-[var(--md-sys-color-background)] text-[var(--md-sys-color-on-surface)]">
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
