---
import HeaderLink from "./HeaderLink.astro";
import { useTranslations } from "../i18n/utils";

const { lng } = Astro.params;
const t = useTranslations(lng);
---
<header class="bg-[var(--md-sys-color-surface-container)] text-[var(--md-sys-color-on-surface)]">
	<nav class="flex justify-between items-center p-4">
		<a href="/" class="flex items-center gap-4">
			<img src="/android-chrome-512x512.png" alt="logo" class="size-10" />
			<h2 class="text-2xl m-0">{t("website")}</h2>
		</a>
		<div class="flex flex-row">
			<HeaderLink href=`/${lng}/posts`>{t("menus.posts")}</HeaderLink>
			<HeaderLink href=`/${lng}/tags`>{t("menus.tags")}</HeaderLink>
			<HeaderLink href=`/${lng}/about`>{t("menus.about")}</HeaderLink>
		</div>
	</nav>
</header>
