---
import Frame from "../../../components/Frame.astro";
import { getTags } from "../../../lib/tags";
import { useTranslations } from "../../../i18n/utils";

export async function getStaticPaths() {
	const tags = await getTags();
	if(!tags) return [];
	return tags
		.keys()
		.map((lng) => ({
			params: { lng },
			props: { tags: tags.get(lng).keys() },
		})).toArray();
}

const { lng } = await Astro.params;
const t = useTranslations(lng);
const { tags } = await Astro.props;
---

<Frame lng={lng} title={t("tags.title")} description={t("tags.description")}>
	<div class="flex flex-wrap gap-4">
		{
			tags.map((tag) => (
				<a
					href={`/${lng}/tag/${tag}`}
					class="px-4 bg-[var(--md-sys-color-surface-container-low)] border-[var(--md-sys-color-outline)] border-2 rounded-lg"
				>
					{tag}
				</a>
			))
		}
	</div>
</Frame>
